---
layout: default
---

  <div class="post-heading">
    {{ content }}
  </div>
  <div class="post-content">
    <ul>
      {% assign filtered_posts = site.posts | where: 'date', page.short_name %}
      {% for post in filtered_posts %}
        <li><span>
          <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }} <span class="post-date">- {{ post.date | date_to_string }}</span></a>
        </span></li>
      {% else %}
        <li>nothing here</li>
        <li>Looks like {{ page.short_name }} is empty.</li>
      {% endfor %}
    </ul>
  </div>
