---
layout: default
---

  <div class="post-heading">
    {{ content }}
  </div>
  <div class="post-content">
    <ul>
      {% assign filtered_posts = site.posts | where: 'date', page.short_name %}
      {% for post in filtered_posts %}
        <li><span>
          <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }} <span class="post-date">- {{ post.date | date_to_string }}</span></a>
        </span></li>
      {% else %}
        <li>nothing here</li>
        <li>Looks like {{ page.short_name }} is empty.</li>
      {% endfor %}
    </ul>
  </div>
  <div class="post-footer">
    <div class="page-navigation">
      {% if page.previous.url %}
      <div class="leftNav">
        <a class="prev" href="{{page.previous.url | prepend:site.baseurl }}"><i class="fa fa-long-arrow-left"></i></a>
        <a class="prev" href="{{page.previous.url | prepend:site.baseurl }}">{{page.previous.title | truncatewords: 5, "..."}}</a>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div class="rightNav">
        <a class="next" href="{{page.next.url | prepend:site.baseurl }}">{{page.next.title | truncatewords: 5, "..."}}</i></a>
        <a class="next" href="{{page.next.url | prepend:site.baseurl }}"><i class="fa fa-long-arrow-right"></i></a>
      </div>
        {% endif %}
    </div>
  </div>
